{% extends 'layout.html' %}

{% block main %}
<div class="page-header">
    <h1>
        FTP集群关联信息
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
                FTP集群名称:{{ci.ftp_cluster_name}}
            </div>
            <div class="col-xs-6">
                虚IP:{{ci.vip.0}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <span style="font-size: 20px;">
                    FTP服务器列表
                </span>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <select id="new_vserver" class="width-50 select2 user-select2" data-placeholder="选择需要添加关联的虚拟机IP" >
                </select>
                <button class="btn btn-xs btn-success"
                    onclick="createRelation({{ci_id}}, 'new_vserver', 'ftp_grp')">新增关联</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-condensed"
                    style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 100px;">id</th>
                            <th style="text-align: center; width: 100px;">IP地址</th>
                            <th style="text-align: center; width: 100px;">环境</th>
                            <th style="text-align: center;">操作系统</th>
                            <th style="text-align: center; width: 120px;">内存</th>
                            <th style="text-align: center; width: 120px;">硬盘</th>
                            <th style="text-align: center; width: 195px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vserver in vservers %}
                        <tr ng-repeat="record in records">
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver._id}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.private_ip[0]}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.env}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.os_version}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.ram}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.harddisk}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">
                                    <button class="btn btn-xs btn-success"
                                        onclick="showRelation({{vserver._id}})">关联关系</button>
                                    <button class="btn btn-xs btn-danger"
                                        onclick="deleteRelation({{ci_id}},{{vserver._id}})">删除关联</button>
                                    <button class="btn btn-xs btn-primary"
                                        onclick="edit({{vserver._id}})">编辑</button>
                                </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <span style="font-size: 20px;">
                    FTP账号列表
                </span>
            </div>
        </div>
        <form id="form_data">
        <div class="row" style="margin-bottom: 10px;">
            <input class="hide" name="cluster_id" value="{{ ci_id }}">
            <div class="col-xs-2">
                <input class="form-control" name="account_name" placeholder="输入账号名称">
            </div>
            <div class="col-xs-3">
                <input class="form-control" name="http_domain" placeholder="输入域名">
            </div>
            <div class="col-xs-2">
                <input class="form-control" name="http_port" placeholder="输入端口">
            </div>
            <div class="col-xs-3">
                <input class="form-control" name="account_path" placeholder="输入路径">
            </div>
            <div style="margin-top: 5px;">
                <select name="account_status">
                    <option value="在用">在用</option>
                    <option value="禁用">禁用</option>
                </select>
                <button class="btn btn-xs btn-success" style="margin-left: 15px;"
                    onclick="createAccount()">新增账号</button>
            </div>
        </div>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-condensed"
                    style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 70px;">id</th>
                            <th style="text-align: center; width: 170px;">账号名称</th>
                            <th style="text-align: center; width: 50px;">HTTP端口</th>
                            <th style="text-align: center; width: 400px;">HTTP域名</th>
                            <th style="text-align: center; width: 300px;">路径</th>
                            <th style="text-align: center; width: 80px;">账号状态</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in ftp_accounts %}
                        <tr>
                            <td><div style="text-align: center; white-space: nowrap;">{{account._id}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{account.ftp_account_name}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{account.http_port}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{account.http_domain}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{account.ftp_account_path}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{account.ftp_account_status}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">
                                    <button class="btn btn-xs btn-primary"
                                        onclick="editConfig({{account._id}})">编辑</button>
                                    <button class="btn btn-xs btn-danger"
                                        onclick="deleteAccount({{account._id}})">删除账号</button>
                                </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <span style="font-size: 20px;">
                    域名列表
                </span>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <select id="new_domain" class="width-50 select2 user-select2" data-placeholder="选择需要添加关联的域名" >
                </select>
                <button class="btn btn-xs btn-success"
                    onclick="createRelation({{ci_id}}, 'new_domain', 'ftp_grp')">新增关联</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-condensed"
                    style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="text-align: center">id</th>
                            <th style="text-align: center">域名</th>
                            <th style="text-align: center">环境</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for domain in domains %}
                        <tr>
                            <td><div style="text-align: center; white-space: nowrap;">{{domain._id}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{domain.domain_name}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{domain.env}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">
                                    <button class="btn btn-xs btn-danger"
                                        onclick="deleteRelation({{ ci_id }},{{domain._id}})">删除关联</button>
                                </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <span style="font-size: 20px;">
                    操作日志
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-condensed"
                    style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 50px;">ID</th>
                            <th style="text-align: center; width: 200px;">操作者</th>
                            <th style="text-align: center; width: 120px;">操作类型</th>
                            <th style="text-align: center; width: 150px;">操作时间</th>
                            <th style="text-align: center;">详细信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.id}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.operator}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.command}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.create_time}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.content}}</div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/static/js/select2.min.js"></script>
<script src="/static/js/all-config.js"></script>
<script>
    var edit = function(ciId){
        window.open("/cmdb/ci/edit?type=vserver&id=" + ciId);
    };
    var editConfig = function(ciId){
        window.open("/cmdb/ci/edit?type=ftp_account&id=" + ciId);
    };
    var createAccount = function(){
        $.ajax({
            url: "/cmdb/ftpAccount/create",
            type: "POST",
            data: $('#form_data').serialize(),
            dataType: "json",
            success: function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                    return;
                }
                if (data.success){
                    location.reload(true);
                }else{
                    alert(data.message);
                }
            }
        });
    };
    var showRelation = function(ciId){
        window.open("/cmdb/relation?type=vserver&id=" + ciId);
    };
    var createRelation = function(first_id, input_id, relation_type){
        var saveData = {
            'first_id': first_id,
            'second_id': $('#' + input_id).val(),
            'type': relation_type
        };
        $.ajax({
            url: "/cmdb/ftpCluster/createRelation",
            type: "POST",
            data: JSON.stringify(saveData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                    return;
                }
                if (data.success){
                    location.reload(true);
                }else{
                    alert(data.message);
                }
            }
        });
    };
    var deleteRelation = function(first_id, second_id){
        ret = window.confirm("确认要删除关联关系?")
        if (!ret) {
            return;
        }

        var saveData = {
            'first_id': first_id,
            'second_id': second_id
        };
        $.ajax({
            url: "/cmdb/relation/delete",
            type: "POST",
            data: JSON.stringify(saveData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                    return;
                }
                if (data.success){
                    location.reload(true);
                }else{
                    alert("删除关联失败");
                }
            }
        });
    };
    var deleteAccount = function(ciId){
        ret = window.confirm("确认要删除账号?");
        if (!ret) {
            return;
        }

        var saveData = {"id": '' + ciId};
        $.ajax({
            url: "/cmdb/ci/edit/delete",
            type: "POST",
            data: JSON.stringify(saveData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                    return;
                }
                if (data.success){
                    location.reload(true);
                }else{
                    alert("删除失败");
                }
            }
        });
    };
    var select2_option = {
        ajax: {
            url: "/cmdb/query/selectVserver",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term
                };
            },
            processResults: function (data, page) {
                return {
                    results: data.items
                };
            },
            cache: true
        },
        allowClear: true,
        minimumInputLength: 2
    };
    var select_domain = {
        ajax: {
            url: "/cmdb/query/selectDomain",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term
                };
            },
            processResults: function (data, page) {
                return {
                    results: data.items
                };
            },
            cache: true
        },
        allowClear: true,
        minimumInputLength: 2
    };
    $("#new_vserver").select2(select2_option);
    $("#new_domain").select2(select_domain);
    $("#new_project_vserver").select2(select2_option);

    jQuery(function($){
    });
</script>
{% endblock %}