{% extends 'layout.html' %}

{% block main %}
<div class="page-header">
    <h1>
        HAProxy配置
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
                HAProxy配置名称:{{ci.ha_config_name}}
            </div>
            <div class="col-xs-6">
                端口:{{ci.ha_config_port}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                路径:{{ci.ha_config_path}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <span style="font-size: 20px;">
                    HAProxy集群列表
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-condensed"
                    style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 100px;">id</th>
                            <th style="text-align: center; width: 200px;">名称</th>
                            <th style="text-align: center; width: 200px;">虚拟IP</th>
                            <th style="text-align: center; width: 65px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in ha_groups %}
                        <tr>
                            <td><div style="text-align: center; white-space: nowrap;">{{group._id}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{group.ha_group_name}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{group.ha_visual_ip}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">
                                    <button class="btn btn-xs btn-success"
                                        onclick="showRelation('ha_group', {{group._id}})">关联关系</button>
                                    <button class="btn btn-xs btn-primary"
                                        onclick="edit('ha_group', {{group._id}})">编辑</button>
                                </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <span style="font-size: 20px;">
                    应用({{project_name}})虚拟机列表
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-condensed"
                    style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 100px;">id</th>
                            <th style="text-align: center; width: 100px;">IP地址</th>
                            <th style="text-align: center; width: 100px;">环境</th>
                            <th style="text-align: center;">操作系统</th>
                            <th style="text-align: center; width: 80px;">内存</th>
                            <th style="text-align: center; width: 80px;">硬盘</th>
                            <th style="text-align: center; width: 125px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vserver in vservers %}
                        <tr>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver._id}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.private_ip[0]}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.env}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.os_version}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.ram}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{vserver.harddisk}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">
                                    <button class="btn btn-xs btn-success"
                                        onclick="showRelation('vserver', {{vserver._id}})">关联关系</button>
                                    <button class="btn btn-xs btn-primary"
                                        onclick="edit('vserver', {{vserver._id}})">编辑</button>
                                </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <span style="font-size: 20px;">
                    域名列表
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-condensed"
                    style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 100px;">id</th>
                            <th style="text-align: center; width: 300px;">域名</th>
                            <th style="text-align: center; width: 100px;">环境</th>
                            <th style="text-align: center; width: 65px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for domain in domains %}
                        <tr>
                            <td><div style="text-align: center; white-space: nowrap;">{{domain._id}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{domain.domain_name}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{domain.env}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">
                                    <button class="btn btn-xs btn-success"
                                        onclick="showRelation('domain', {{domain._id}})">关联关系</button>
                                    <button class="btn btn-xs btn-primary"
                                        onclick="edit('domain', {{domain._id}})">编辑</button>
                                </div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <span style="font-size: 20px;">
                    操作日志
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-condensed"
                    style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 50px;">ID</th>
                            <th style="text-align: center; width: 200px;">操作者</th>
                            <th style="text-align: center; width: 120px;">操作类型</th>
                            <th style="text-align: center; width: 150px;">操作时间</th>
                            <th style="text-align: center;">详细信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.id}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.operator}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.command}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.create_time}}</div></td>
                            <td><div style="text-align: center; white-space: nowrap;">{{log.content}}</div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/static/js/select2.min.js"></script>
<script src="/static/js/all-config.js"></script>
<script>
    var edit = function(ciType, ciId){
        window.open("/cmdb/ci/edit?type=" + ciType + "&id=" + ciId);
    };
    var showRelation = function(ciType, ciId){
        window.open("/cmdb/relation?type=" + ciType + "&id=" + ciId);
    };
    var deleteRelation = function(first_id, second_id){
        ret = window.confirm("确认要删除关联关系?")
        if (!ret) {
            return;
        }

        var saveData = {
            'first_id': first_id,
            'second_id': second_id
        };
        $.ajax({
            url: "/cmdb/relation/delete",
            type: "POST",
            data: JSON.stringify(saveData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                    return;
                }
                if (data.success){
                    location.reload(true);
                }else{
                    alert("删除关联失败");
                }
            }
        });
    };
    var select2_option = {
        ajax: {
            url: "/cmdb/query/selectVserver",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term
                };
            },
            processResults: function (data, page) {
                return {
                    results: data.items
                };
            },
            cache: true
        },
        allowClear: true,
        minimumInputLength: 2
    };
    var select_domain = {
        ajax: {
            url: "/cmdb/query/selectDomain",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term
                };
            },
            processResults: function (data, page) {
                return {
                    results: data.items
                };
            },
            cache: true
        },
        allowClear: true,
        minimumInputLength: 2
    };
    $("#new_vserver").select2(select2_option);
    $("#new_domain").select2(select_domain);
    $("#new_project_vserver").select2(select2_option);

    jQuery(function($){
    });
</script>
{% endblock %}